<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	
	<!-- Activates various annotations to be detected in bean classes -->
	<context:annotation-config />
	
	<!-- Scans the classpath for annotated components that will be auto-registered as Spring beans.
	 For example @Controller and @Service. Make sure to set the correct base-package-->
	<context:component-scan base-package="it.obiectivo.ecoss" />
	
	<!-- Configurazione di JavaMail -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	    <property name="host" value="smtp.gmail.com"/>
	    <property name="port" value="25"/>
	    <property name="username" value="ecoss.javamail@gmail.com"/>
	    <property name="password" value="testecoss"/>
	    <property name="javaMailProperties">
	        <props>
	        	<!-- Use SMTP transport protocol -->
	            <prop key="mail.transport.protocol">smtp</prop>
	            <!-- Use SMTP-AUTH to authenticate to SMTP server -->
	            <prop key="mail.smtp.auth">true</prop>
	            <!-- Use TLS to encrypt communication with SMTP server -->
	            <prop key="mail.smtp.starttls.enable">true</prop>
	            <prop key="mail.debug">true</prop>
	        </props>
	    </property>
	</bean>
	
	<!-- Configurazione di JavaMail per l'invio di email in caso di errore -->
	<bean id="alertMailMessage" class="org.springframework.mail.SimpleMailMessage">
	    <property name="from">	        
	        <value>ecoss.javamail@gmail.com</value>
	    </property>
	    <property name="to">	        
	        <value>ecoss.javamail@gmail.com</value>
	    </property>
	    <property name="subject" value="Alert - Exception occurred"/>
	</bean>
	<!-- END - Configurazione di JavaMail -->
	
	<!-- Configures the annotation-driven Spring MVC Controller programming model.
	Note that, with Spring 3.0, this tag works in Servlet MVC only!  -->
	<mvc:annotation-driven /> 
	
	<!-- Load Hibernate related configuration -->
	<import resource="hibernate-config/hibernate-context.xml" />
	<!-- 
	<import resource="webflow-context.xml" />
	<import resource="activemq-context.xml" />
	 -->
	 
</beans>